:root {
    --primary-red:#D6000D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
    font-family: Roboto,sans-serif;
}

img {
 width: 100px;
}

.main {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 20px;

}

.logo {
    font-size: 4rem;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}

.header .logo {
    color: var(--primary-red);
}

.logo::after {
    content: '.';
    font-family: Roboto;
}

.header .logo::after{
    color:black;
}

.header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: left;
    list-style: none;
    padding: 20px 0px;
}

.header nav ul li a.btn{
    display: none;
}

.header nav ul li a {
    padding: 20px 20px;
    text-decoration: none;
    font-size: 1.6rem;
    color: black;
}

.btn {
    background-color: var(--primary-red);
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 100;
    padding: 10px 20px;
    border-radius: 15px;
}

.header nav ul li a.btn {
    margin-left: 30px;
    padding: 10px 60px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.section:first-child img {
    width:220px;
}

.content.text {
    margin:40px 0;
}

.section.list img {
    width: 180px;
}

.section .content h2 {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}

.section .content h1 {
    color: var(--primary-red);
    font-size: 3.7rem;
    text-align: center;
}

.section.budget a.btn{
    padding: 14px 70px;
}

.section.list .image {
    order: -1;
}

.section.list ul {
    list-style: none;
    padding: 20px 0;
}

.section.list ul li {
    line-height: 50px;
    font-size: 1.8rem;
}

.section.list i{
    top: 14px;
}

.section.list i{
    font-size: 24px;
    color: var(--primary-red);
}

.section.list .user-input {
    display: flex;
    flex-direction: column;
}

.section.list label {
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;
}

.section.list input {
    background-color: #d6d6d6;
    border: none;
    padding: 15px 0;
    border-radius: 15px;
    font-size: 1.8rem;
    margin: 20px 0;
    width: 240px;
    align-self: center;
}

.section.list input::placeholder {
    padding-left:20px;
}

.section.list div a {
    padding: 15px 0;
    font-size: 1.8rem;
    text-align: center;
    width: 220px;
    align-self: center;
}

.section.feedback {
    padding: 0;
}

.section .feedback-card {
    position: relative;
    display: flex;
    width: 300px;
    flex-direction: row;
    background-color: #d6d6d6;
    border-radius: 15px;

    padding: 20px 20px 10px 20px;
    margin-bottom: 30px;
}

.section .feedback-card .circle{
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: var(--primary-red);

    margin-right: 20px;
}

.section .feedback-card .text{
    margin-left: 80px;
}



.section .feedback-card span{
    font-size: 1.2rem;
    font-weight: bold;
}

.section .feedback-card h3{
    padding-top:5px ;
    font-size: 2.3rem;
    font-weight: 100;
}

.section .feedback-card h4{
    font-size: 1.3rem;
}

.footer {
    background-color: black;
    color: white;

}

.footer div {
    display: flex;
    flex-direction: column;
    margin: 20px 45px;
}

.footer div .logo, .logo ~ span{
    text-align: center;
}

.footer div .logo ~ span {
    font-size: 1.7rem;
    line-height: 20px;
}

.footer div a {
    color: white;
}

.footer div h3 {
    font-size: 2rem;

}
.footer div h3 ~ span {
    font-size: 1.3rem;
    max-width: 142px;
    line-height: 15px;
}
.footer div.contact h3{
    padding-bottom: 20px;
}

.footer div.contact span:nth-child(2){
    line-height: 40px;
}

.footer div.contact span {
    line-height: 20px;
}

.footer div.social-media ul{
    margin-top: 10px;
    display: flex;
    list-style: none;
}

.footer div.social-media ul li a {
    text-align: left;
}

.footer div.social-media ul li a i{
    text-align: left;
    font-size: 40px;
    padding-right:30px;
    margin-top: 10px;
    color: red;
}

@media (min-width:790px) {

    html {
        font-size: 80%;
    }

    header.header {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        padding: 20px 20px 50px;
    }

    .header ul {
        align-items:baseline ;
    }

    .header nav ul li a.btn {
        display: inline-block;
        color: white;
    }

    .container {
        padding: 0 100px;
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .section {
        flex-direction: row;
        align-items: flex-start;
    }

    .section .image img {
        width: 400px;
        
    }

    .section.text.budget .content{
        min-width: 300px;
        margin-bottom: 60px;
    }

    .section.text.budget .content h2{
        text-align: left;
    }

    .section.text.budget img{
        margin-right: 80px;
    }

    .section.list {
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 800px;
    }


    .section.list .content {
        order: -1;
        margin-left: 10px;
    }

    .section.list .content ul li{
        font-size: 1.6rem;
        line-height: 2;
    }

    .section.list .user-input {
        display: block;
    }

    .section.list .user-input label{
        font-size: 1.6rem;
        display: block;
        text-align: left;
    }

    .section.list .user-input input {
        margin-right: 20px;
        font-size: 1.3rem;
    }

    .section.list .user-input .btn {
        padding: 15px 40px;
        font-size: 1.2rem;
    }

    .section.feedback {
        width: 800PX;
        align-items: center;
        justify-content: space-between;

    }

    .section.feedback .feedback-card {
        height: 140px;
        width: 390px;
    }

    .section.feedback .feedback-card span{
        font-size: 1rem;
    }

    .section.feedback .feedback-card h3 {
        font-size: 1.2rem;
    }

    .section.feedback .feedback-card h4 {
        font-size: 1rem;
    }

    .footer {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
    }

    .footer div h3 , .footer div * {
        text-align: left;
    }

    footer.footer div .logo{
        font-size: 3rem;
        text-align: left;
    }

    .footer div h3 {
        font-size: 1.7rem;
        padding: 20px 0;
    }

    footer.footer .logo ~ span {
        font-size: 1.3rem;
    }

    footer.footer div span {
        font-size: 1.2rem;
    }

    footer.footer div span {
        max-width: initial;
    }

    footer.footer div.contact span {
        padding: 10px 0;
        min-width: 160px;
    }

    .footer div.social-media ul li a i{
        font-size: 2.4rem;
    }



}
